[2017-06-12 11:12] maelle opened #9 "Make rate limiting as automatic as possible"
Via https://www.meetup.com/meetup_api/#limits

I'm not sure if it's the best solution though, but it'd be nice to have this info in the output somehow. :-)

[2017-06-12 11:14] maelle opened #10 "Add your library to Meetup list of libraries"
https://www.meetup.com/meetup_api/clients/

[2017-06-12 11:23] maelle commented on #9
or maybe just some reference to the Meetup link in the documentation :thinking:

[2017-07-24 01:29] gdequeiroz commented on #10
Thank you @maelle! I just added to the list.

[2017-07-24 01:29] #10 closed, assigned to nobody

[2017-07-24 07:01] maelle commented on #10
Awesome! I don't see it in the list yet, I hope it'll soon get added! :smiley:

[2017-09-17 00:43] ledell opened #12 "Restrict character input to limited set of values"
Sometimes we don’t list all the options for an argument with a fixed value set, so let's find all the cases of this and add the correct set of values.

Here's an example:
[code]
The default value for `event_status`, as written in the function definition should be restricted to the set of allowable values (so that R can check if an invalid string is passed and throw an error):
[code]
The actual def

[2017-10-03 17:42] maelle opened #13 "topics endpoint?"
@hfrick and I wanted to pull all R-Ladies chapters from Meetup with "have R-Ladies as topic" as a definition. https://www.meetup.com/topics/r-ladies/all/

Would you consider adding the function for getting meetups for a topic? 🙏

Thanks a lot! 💜

[2018-01-22 23:07] ledell commented on #13
Sure, we can add this!
The "topic" API documentation is here: https://www.meetup.com/meetup_api/docs/topics/
But to query by a topic, you must use the [GET /find/groups](https://www.meetup.com/meetup_api/docs/find/groups/) endpoint and pass a `topic_id`, so we will have to add a `topic_id` argument to `find_groups()`:

[2018-01-23 02:13] ledell commented on #12
I decided not to add this because I realized that you can pass multiple statuses (not just one).

[2018-01-23 02:13] #12 closed, assigned to nobody

[2018-01-24 20:10] ledell commented on #13
@maelle @hfrick Added this here: https://github.com/rladies/meetupr/pull/18

"R-Ladies" topic id is 1513883.  I still need to add a function that will make it easy to look up topic ids from a search term.
[code]

[2018-01-24 20:46] maelle commented on #13
👏🎉💪

[2018-02-01 21:51] limegimlet opened #20 "get_members() returns meetup join date instead group join date"
`find_groups('R-ladies Paris')`
 returns
`  id name    urlname   created             members status organizer   lat    lon city`
`1  2.04e⁷ R-Ladi… rladies-… 2016-09-19 17:39:51    298 active Gabriela…  48.9   2.34 Paris`

however
`get_members('rladies-paris')`
returns members with join dates prior to group create date!
` id name   bio          status joined              city  country state   lat

[2018-02-01 22:13] ledell commented on #20
@limegimlet Thanks for the report!  I checked to make sure `joined` actually means "when the user joined the group" rather than "when the user joined meetup.com", and according to the [docs](https://www.meetup.com/meetup_api/docs/:urlname/members/#list), it sounds like it's supposed to be when they joined the group.

It seems to be a bug.  What I see is that R-Ladies Paris was created on "2016-09-

[2018-02-07 13:38] limegimlet commented on #20
Hi Erin,

Thanks for the quick follow-up and sorry for my the slow reply.

To answer your Q: Yes, indeed I joined meetup in 2008. I didn't join
Rladies Paris until late 2016.

On a similar note, I see there is a bio column, but it seems to be coming
from a different meetup group.

For example:

members[members$id=='10380708','bio']

returns:

1 Finance professional, keen on learning MA, especially

[2018-02-12 00:12] missaugustina opened #21 "Support more API query parameters in find_groups()"
To find R-Ladies meetups that aren't using the topic, I do a text search and limit to a category and then apply a regex to the result. We should support category as a parameter.

 (TODO: make a reprex)

[code]

Design question - do we want to explicitly support parameters or do we want to consider dynamic arguments?

[2018-02-14 02:27] ledell opened #22 "Relax group admin constraints in `get_event_attendees()`"
There is a [blog post](https://rickpackblog.wordpress.com/2018/02/13/meetup-com-yes-rsvp-graphing-fun-with-httr-package-and-rladies-meetupr/) by [Rick Pack](https://github.com/RickPack) about trying to use the `meetupr::get_event_attendees()` function and he pointed out that this currently requires the user to be an admin of that group.

It looks like he was able to get around that constraint in h

[2018-02-14 22:55] RickPack commented on #22
I do not know if this can be circumvented. [Meetup](https://www.meetup.com/meetup_api/docs/:urlname/events/:id/attendance/#list) indicates the API method used (Attendance) by `get_event_attendees()` is "Limited for use by administrative members.". Maybe another API will provide all of the values that are needed. I used the restriction-free [RSVPs v2 method](https://www.meetup.com/meetup_api/docs/2

[2018-02-17 14:02] RickPack commented on #22
I am working on adding get_yesrsvps() to my forked version. Thank you, @ledell, for inviting me on Twitter to do a pull-request. https://twitter.com/ledell/status/963601064023883776

[2018-02-18 13:03] RickPack commented on #22
I am naming the program `get_event_rsvps.R` to align with your other programs.

[2018-02-18 22:20] RickPack commented on #22
I just saw that @brooklynbagel has a pull request for `get_event_rsvps.R` so I will abort my work.

[2018-02-19 05:02] ledell commented on #22
Since this seems to be a limitation of the API in v3 (that you can only query this data for your own groups), then we should add an custom error message (inside a `stop()` function) so that the user knows the limitations. We want to replace this:
[code]
With something nicer that tells the user that they can only use this on their own groups.  If we can catch the 400 error inside `.quick_fetch()`,

[2018-02-19 05:09] ledell commented on #21
So far, we've explicitly added the arguments, but if it makes sense to group new ones together, we could do that.  Lists are nice because you never really have to change the function API (new args just go inside the list) however it's much harder to document the options when they are named list elements list instead of explicit args.

[2018-02-19 05:13] ledell opened #24 "Submit to CRAN"
I think we're probably ready to do our first CRAN submission!

[2018-02-19 14:40] RickPack commented on #22
I am happy to work on the stop() message and documentation update. Might you assign this to me?

[2018-02-19 20:33] ledell commented on #22
Hi @RickPack, that would be great.  I have invited you to become a "collaborator" on this repo, and after you accept the invitation, I can assign it to you (I can't assign it to you unless you're a collaborator).  Let me know when you've accepted.

[2018-02-19 20:41] RickPack commented on #22
I accepted. Thank you for helping me understand how this works!

[2018-02-19 20:43] ledell commented on #22
No worries, I didn't realize either until I tried to assign it to you and it wouldn't let me!

[2018-02-20 21:07] gdequeiroz opened #26 "Add tests to the package"
So far we only have 2 tests: `test-get_events.R` `test-find_groups.R`.

We need to add tests to other functions (https://github.com/rladies/meetupr/tree/master/R)

[2018-03-04 05:36] RickPack commented on #22
Updated in pull request #27. Please note that I had to do manual uploads because of my computer setup, should that cause any misleading indications in Github. I only changed the `Readme` (see bottom point), and then `get_event_attendees.Rd` and `get_event_attendees.R` :

Updated `get_event_attendees` error message to show ""HTTP 400 error encountered. Might you have requested data for which the Me

[2018-03-07 11:43] RickPack commented on #22
Use of manual file upload may explain why so many lines appeared to have been changed by my code.  Updated in pull request #28 (used RStudio remote connection to Github).

[2018-03-08 02:01] RickPack opened #29 "get_events More descriptive error message than "Result 1 is not a length 1 atomic vector""
I hope to explore this more carefully but get_events returns:
`Error: Result 1 is not a length 1 atomic vector `

when one submits:
`grp_events    <- get_events("tangoutopia", event_status = "past")`

I do not yet know why. There are plenty of past Meetups in https://www.meetup.com/tangoutopia/events/past/ and indeed the function prints:
`Downloading 1021 record(s)...`

**EDIT** Can someone see if

[2018-04-09 06:13] maelle opened #30 "Use ratelimitr to not get 429 errors?"
Poke @kierisi

[`ratelimitr`](https://github.com/tarakc02/ratelimitr)

The [docs](https://www.meetup.com/meetup_api/) say "You can know your current rate limit status by reading X-RateLimit HTTP headers included in responses. The following table indicates their name and meaning. " so I guess this issue is related to #9.

I imagine the code would need to make a call at the start of each session to

[2018-04-09 21:30] kierisi commented on #30
I was able to get around rate limits by using the `slowly` function that Jenny wrote:

[code]

wrapping `get_events` in `slowly` and `safely` like so `slowly(safely(get_events)` worked like a dream.

full call: `map(urls2, slowly(safely(get_events)), event_status = c("past", "upcoming"))`

[2018-04-10 04:47] maelle commented on #30
That's fantastic! I read it like a potential Daft Punk song.

Now in the package the rate should definitely depend on the headers returned by the API this way it can even be faster (I guess you guessed 0.5?).

This is how it's done in `monkeylearn` where there are two rate limits: https://github.com/ropensci/monkeylearn/blob/02d6df74d50d75bd7d86d9793d746927f126f0a8/R/utils.R#L372

So inside the pa

[2018-04-10 23:18] kierisi commented on #30
🎵 slowly 🎵 safely 🎵 get your  🎵data 🎵

I used the 0.5 as that's what Jenny used, and since it worked I didn't see a need to change it 😂

Being able to pull in from the API headers would be great! I wasn't sure how to access that information from within the `meetupr` package though.

[2018-04-11 21:06] missaugustina commented on #21
Yeah I'm on the fence myself. I like having explicit support and documentation but then we're really just supposed to be an interface for them. I'll stick with the current paradigm for now.

[2018-04-11 22:34] missaugustina commented on #20
I started looking at reproducing this awhile ago, I'm digging that back up.

[2018-04-11 23:54] missaugustina commented on #20
I have reproduced and demonstrated this issue. The value you want is "group_profile.created".

http://rpubs.com/rladiespdx/meetup-member-dates

I also confirmed, the docs are weird.

Under Sort "joined" refers to sorting the member list by when the member joined the group:
Sort
joined
Time member joined this group

Under Response:

joined
Time member joined, represented as milliseconds since the e

[2018-04-11 23:56] missaugustina commented on #20
I need to look at the code to figure out what makes the most sense as far as a patch proposal.

[2018-04-12 01:01] missaugustina commented on #30
"These responses indicate that you are making requests too quickly. If you receive one of these errors, you should adjust the frequency of your requests by adding a pause between them."

I'm actually testing this out on some code I want to convert to use MeetupR. I think you'll still hit a limit if you make too many requests in the time interval, even with a pause. Maybe MeetupR can check the X-Li

[2018-04-12 01:13] missaugustina commented on #20
Removed help wanted since I'm working on this :)

[2018-04-12 01:40] missaugustina opened #31 "Add Mocking to Unit tests so they don't make For Realz api calls"
The unit tests are currently making "IRL" api calls which can result in failures in the event of no network access. Additionally, these tests may result in errors beyond the scope of what is actually being tested. Ultimately, at least for these tests, we just want to know if our library code is working, we don't care about the api key or httr.

That said, other end-to-end continuous integration te

[2018-04-12 01:40] missaugustina commented on #31
~~I found a package called "mockery" is this the appropriate one to use or do people have other ones they prefer?~~

Looks like testthat() has a "with_mock" function - https://www.rdocumentation.org/packages/testthat/versions/2.0.0/topics/with_mock

[2018-04-12 04:38] missaugustina commented on #20
working on issue #31 so i can have test coverage for this one.

[2018-04-12 04:43] missaugustina commented on #26
Also see issue #31 and PR #32

I'm working on tests and if my changes are approved, would like to pair with others who are looking for ways to contribute.

[2018-04-12 05:05] missaugustina opened #33 "Integration test that make real API calls (Travis/PR, not unit)"
Tests are mocked in Issue #31

We should have some integration tests that check our client against the Meetup API.
 * These should not be run as part of testthat by default
 * They should only be run by Travis
 * They should only be run on PR, not with every update
 * They should not depend on fragile aspects of the API response (eg, expecting a certain number of columns or responses)
 * They're f

[2018-04-12 23:28] ledell commented on #31
@missaugustina So these tests are in addition to the real ones, or are you proposing that we replace the live tests with mock tests?  It looks like you have opened another issue to add live tests back in? https://github.com/rladies/meetupr/issues/33

[2018-04-16 18:16] missaugustina commented on #31
@ledell yes, I'm proposing that the tests that are currently live be replaced with the mocks. The existing tests are disabled in TravisCI and they failed for me when I ran them locally.

And yes, I'm proposing in #33 that we add integration tests to make sure our stuff still works with the Meetup API. I would see these just running when a PR was merged and shouldn't be too fragile.

Does that soun

[2018-04-30 14:53] EconomiCurtis commented on #29
I'm with you on the utility of a more useful error message. The source of this message was in purrr, when an api call requests a field that is not present, and in your purrr map function call no default is provided.

You might want to check out the conversation in purrr issues: https://github.com/tidyverse/purrr/search?q=is+not+a+length+1+atomic+vector&type=Issues

I can imagine with situations li

[2018-06-06 21:41] gdequeiroz commented on #26
@missaugustina I changed the label from "help wanted" to " work in progress" since you are working on that. :)

[2018-06-06 22:02] gdequeiroz opened #35 "Add Contributing, CoC, Issue Template"
These files are essential when other people want to contribute to the package.

To generate this, we can use. the [`usethis`](https://github.com/r-lib/usethis) package.
[code]

[2018-06-07 00:13] missaugustina opened #37 "Create a CI check for API Key inclusion"
One of our checks should make sure people aren't committing their API keys into the code.

I made a comment on Issue #36 regarding this!

[2018-06-07 00:14] missaugustina commented on #31
Looks like my change got merged! We should make sure we get some tests in per #33 to monitor meetup api compatibility.

[2018-06-07 00:14] #31 closed, assigned to missaugustina

[2018-06-07 00:15] missaugustina opened #38 "Update README to indicate urlname is not necessary for unit tests"
Per comment in Issue #36 as of resolution of issue #31 urlname isn't necessary to run unit tests.

[2018-06-07 00:18] missaugustina commented on #26
I will add stubs similar to what I did for remaining tests needed for the other ones. This will make it easier for folks to see what tests are needed and to make easy contributions.

[2018-06-07 19:57] #35 closed, assigned to gdequeiroz

[2019-01-15 11:36] pr130 commented on #33
Hey @missaugustina ! do you still need help with this issue (sorry for asking but I know how hard it is to keep up with issues and this one is 9 month old ;))?  I recently implemented _skipping_ tests in testthat based on travis environment variables ([see last three or four tests here](https://github.com/CorrelAid/newsanchor/blob/master/tests/testthat/test_get_headlines.R)).

[2019-01-25 09:58] pr130 commented on #29
this is also a problem in `get_event_attendees`, e.g. in the example provided in the docs:

[code]

[2019-01-25 10:15] pr130 opened #41 "api_key argument does not default to NULL in get_boards"
I set my API key using `Sys.setenv(MEETUP_KEY="mykey")`. I can then use all functions without specifying the `api_key` argument because all functions set it to NULL as default and `.fetch_results` will then check for NULL and draw it from the Sys env.

The `get_boards` function does not specify NULL as default for api_key, hence resulting in a missing argument error.

---

[code]

[2019-01-25 14:26] pr130 commented on #33
I implemented some simple httr::GETs in my fork: https://github.com/friep/meetupr/blob/issue33_pr-only-integration-tests/tests/testthat/test-integration_pr_only.R

Those would only run on a PR by skipping if the TRAVIS_PULL_REQUEST env variable is not true. It would require that someone with access to travis to add MEETUP_KEY as a secret environment variable (see [here](https://docs.travis-ci.com/

[2019-01-30 08:56] ledell commented on #41
@friep Thank you!!

[2019-01-30 08:56] ledell commented on #41
Merged the PR fixing this.

[2019-01-30 08:56] #41 closed, assigned to nobody

[2019-01-30 10:35] pr130 commented on #41
Nice :) happy to have been able to contribute! :)

[2019-02-06 03:32] missaugustina commented on #33
Hey! just seeing these, I'll take a look and let you know my thoughts. The integration tests wouldn't be run by individuals locally, they would only be run by TravisCI when merging new code. I agree on the cron checks as well.

[2019-03-10 20:41] RickPack commented on #20
@missaugustina, are you still working on this? Might it help if I had a look? I am not skilled with formal testing but I have used this package a great deal (please see http://bit.ly/2NEHVGn). So I could at least explore capturing `group_profile.created`.

[2019-05-13 05:45] ledell opened #44 "Add find_topics() function"
Add a [`find_topics()`](https://www.meetup.com/meetup_api/docs/topics/) function so you can look up the topic ids that match a search term.  You can find topic ids by querying here: https://secure.meetup.com/meetup_api/console/?path=/find/topics

This is related to: https://github.com/rladies/meetupr/issues/13

[2019-05-13 05:58] ledell commented on #13
Ready to merge, I think. @maelle @hfrick

[2019-05-13 06:08] maelle commented on #13
Cool! Maybe add an example using the new parameter?

[2019-05-13 06:14] ledell commented on #13
@maelle Good idea.  I just added one.

[2019-05-15 18:32] LucyMcGowan opened #45 "Remove deprecated `.null` parameter from `map_*` calls"
@GregSutcliffe is working on this in #43

[2019-05-16 19:42] ledell commented on #20
@missaugustina @RickPack Anyone have an update on this?  Someone ran into this bug again today and so it reminded me to come here and check the status.  Let me know and we can re-assign the issue if necessary. Thanks!

[2019-05-17 01:44] ledell commented on #44
Should be something like this:

[code]

The fields look like this (let's include all besides `lang`):
[code]
End result:
```topics <- find_topics(query = "R-Ladies")```

[2019-05-20 23:28] benubah opened #46 "Add fields argument to find_groups() to retrieve optional fields"
Add `fields` argument to `find_groups()` to retrieve optional fields from the response. I am using this package to work on a project this summer and found out that I needed a count of past events for each R-Ladies group. Thankfully, `past_event_count` is an optional field within the response of `find/groups` API method.

For now, I suggest just adding `fields` to find_groups() and the call to `.fe

[2019-05-23 14:12] benubah opened #47 "Retrieve `localized_country_name` in `find_groups()`"
I guess that retrieving the full country name (`localized_country_name` in the meetup API) could be more useful than just the country code (`country` in the meetup API). You might want to retrieve both.

---

Using the following code retrieves this for me in the `find_group()` function.
[code]

[2019-05-31 09:59] benubah commented on #46
A pull request for this has been submitted for your review here: https://github.com/rladies/meetupr/pull/48

[2019-06-14 15:03] malcolmbarrett opened #50 "Changes to the API"
I received an email this morning from Meetup about changing their API from key-based to OAuth-based on August 15, 2019. It looks like a substantial change that may affect the package: https://www.meetup.com/meetup_api/auth/?utm_medium=email&utm_source=transactional&utm_campaign=api_update&utm_content=en_06142019#oauth2

It also appears that OAuth accounts are free until August 15 but will require

[2019-06-14 18:40] ledell opened #51 "Add OAuth support"
Here's an announcement from meetup.com.  We need to add support for OAuth, deprecate `api_key` (I guess we should not remove it from the functions because it will break people's code but we should tell people that it's not active anymore), update the docs and re-test everything. :-(

Changes to our API access

- API Keys will be replaced by OAuth: We will be removing API keys on August 15, 2019 an

[2019-06-14 18:42] malcolmbarrett commented on #50
@ledell just posted this to #51 so I'm going to close this

[2019-06-14 18:42] #50 closed, assigned to nobody

[2019-06-14 18:42] ledell commented on #50
Thanks @malcolmbarrett.

[2019-06-14 18:43] ledell commented on #51
If I understand this correctly, this means that anyone who wants to use our package will have to either have applied for free OAuth access by Aug 15 or be a meetup.com pro member?  That's NOT GOOD!

Here is the sign-up link: https://secure.meetup.com/meetup_api/oauth_consumers/create/

[2019-06-14 23:46] ledell opened #52 "Add meetupr to the list of official clients on meetup.com"
We need to make a PR to add it here: https://github.com/meetup/api/blob/master/clients.md

[2019-06-17 10:39] GregSutcliffe commented on #52
Looks like it's already there? It appears to have been added a year ago:

https://github.com/meetup/api/blob/master/clients.md#r

[2019-06-18 10:50] GregSutcliffe commented on #51
If anyone wants to join forces, I'm looking into it this week - I'm *hoping* that adapting the examples in [httr](https://github.com/r-lib/httr/blob/master/demo/oauth2-reddit.R) won't be too hard to do...

[2019-06-18 21:45] gdequeiroz commented on #52
I added it 2 years ago: https://github.com/rladies/meetupr/issues/10 🙃

[2019-06-18 21:47] gdequeiroz commented on #51
@GregSutcliffe: Should we make a list of things that need to be changed?

[2019-06-18 22:21] #52 closed, assigned to nobody

[2019-06-18 22:22] ledell commented on #52
I didn't realize it was already on the list!  Closing ticket...

[2019-06-19 14:18] GregSutcliffe commented on #51
@gdequeiroz seems reasonable. I *think* we can just implement a token-getting process as shown in `httr` and migrate the `api_key` code to use it, plus some docs, but I'm still poking around at the moment.

[2019-06-20 04:20] lzamanillo opened #53 "Problem installing package"
I get the following message when I run the code:

Downloading GitHub repo rladies/meetupr@master
**Error in process_initialize(self, private, command, args, stdin, stdout,  :
  Command not found**

[2019-06-20 13:13] GregSutcliffe commented on #51
OK, so as an *extremely* hacky first try, I've got `get_events()` working with an OAuth token. You can see the code in [this Gist](https://gist.github.com/GregSutcliffe/3c8626202e676d76a99ca3f428f80d05) - I'll clean it up and send a PR when it's... less headache-inducing :). The key message is that it's probably not a lot of code to change (the gist is only ~25 lines of change, although I didn't r

[2019-06-20 13:25] GregSutcliffe commented on #51
Spending a few moments thinking about this, it seems like:

Is a good possible solution to:

If we set up `meetupr` to have a default OAuth consumer before August 15th, people will still have access to the API, at least until they force the whole thing over to Pro accounts only ;)

[2019-06-20 18:33] ledell commented on #51
@GregSutcliffe

We have two options here to not break existing users' code:
1. We can remove `api_key` and can add the `...` everywhere to swallow this unused param in "old" meetupr code.
2. We can leave `api_key` and mark it as deprecated, and add a new param, `oauth_token`.

No, we always use the helpers, so all you have to do is modify them.

Yes, this is a great idea.  I will create a new meet

[2019-06-21 01:56] ledell commented on #51
@GregSutcliffe Some guidelines on using the API:

- https://secure.meetup.com/meetup_api/oauth_consumers/create/#section5.8

- Also registration requires a phone number...  I assume you signed up since you tested some code already.  Did they do any authentication of the phone number (like sending a text)?

[2019-06-21 08:46] GregSutcliffe commented on #51
@ledell Thanks for the feedback. I agree with deprecating rather than outright removing, for now at least. The `api_key` functionality will work fine until Aug 15th, so we probably shouldn't remove it yet - but deprecating it so that users (who may not have seen the Meetup announcement, somehow) get a warning in time seems a plan. A second release after Aug 15th that removes it is then pretty triv

[2019-06-21 09:59] GregSutcliffe commented on #51
@ledell also (and I'm sure you know this, but just to be sure), the redirect URL is specified on the Meetup side, so when you register the app, remember to use `http://localhost:1410/` (with trailing slash) as the value.

[2019-06-21 12:13] jennybc commented on #51
If you're looking for design inspiration, I recorded the preferred OAuth design for gargle/googledrive/bigrquery/googlesheets4 in this vignette:

https://gargle.r-lib.org/articles/gargle-auth-in-client-package.html

You won't be using gargle (which is Google specific), but the overall design of how to do auth is pretty general I think and could be adapted.

[2019-06-21 13:01] GregSutcliffe commented on #51
@jennybc thanks! I've already got a working solution based on your older code for [googlesheets3](https://github.com/jennybc/googlesheets/blob/master/R/gs_auth.R) which I adapted to `meetup_auth` this morning - but I like how that link allows for falling back to API keys cleanly (my solution is rather more clunky). I'll take a detailed look through and see what it would entail to switch over...

[2019-06-21 13:31] jennybc commented on #51
@GregSutcliffe Yeah the approach described in the linked gargle vignette is the current evolutionary state of patterns already in use in that whole set of packages, even going back to googlesheets. It's just gradually gotten cleaner as it gets refined in each package and, since they are all Google APIs, it finally got centralized in gargle. But it's all part of a single evolving design pattern.

[2019-06-26 12:08] ledell commented on #53
Did you add `library(devtools)` to the top?

[2019-07-01 18:38] benubah opened #55 "Bug in internals.R?"
My work using this package to explore R User groups based on a modified version of `find_groups()` (provided within this pull request https://github.com/rladies/meetupr/pull/48 ) that retrieves additional fields has revealed an unexpected behavior.

Consider the code below:

[code]
There are 481 records returned for this query. For records, between 0 - 199, everything is fine. But for records betw

[2019-07-01 23:33] ledell commented on #55
@benubah Can you describe what the issue with the code is and how you solved it?  (It's hard to tell without looking at a git diff.)

Also want to make sure you are aware of this issue and re-factoring that's happening (or will happen): https://github.com/rladies/meetupr/issues/51

[2019-07-02 21:00] benubah commented on #55
@ledell My guess on the issue with the code is that it does not add the `offset` parameter to further API calls for records that are more than 200. When the records are beyond 200, they are returned in other pages. To access the records in those pages, one has to set `offset` to a number.  In the current code, I don't see a direct inclusion of `offset`  when extra calls are made.

For example: R u

[2019-07-02 23:33] ledell commented on #55
@benubah The `.quick_fetch()` function is designed to do a single fetch, where as the `.fetch_results()` function is meant to do the subsequent calls (if needed).  I thought this code already worked for multiple calls?  Are you saying that `.fetch_results()` does not work as intended?  https://github.com/rladies/meetupr/blob/master/R/internals.R#L55

[2019-07-03 10:06] benubah commented on #55
@ledell Yes, `.fetch_results()` works fine for multiple subsequent calls (if needed), but it shows an unexpected behavior when called from the newly proposed `find_groups()` in https://github.com/rladies/meetupr/pull/48

This unexpected behavior occurs when the additional `fields` parameters are more than one.
To be clearer, please see the following code:

[code]

This meant to me that  `.fetch_re

[2019-07-03 10:16] benubah commented on #55
@ledell Just to show how useful the additional fields are to my project, please see the screenshot below. We can see the Last Event date, calculate Months Inactive, Past and Upcoming Event Counts right in the pop-ups on the map. We can apply different colors to Active, Inactive and Unbegun groups.
This map was possible with the currently available `.fetch_results()` because R-Ladies Groups are les

[2019-07-04 15:51] ledell commented on #55
Hi @benubah I support the changes, except that I got an error when running the code above.  Since I needed the updated `find_groups()` function from https://github.com/rladies/meetupr/pull/48 to try the code example, I copy-pasted the function in to my shell, so this might have caused an issue, but I ran the code and got an error.  Can you double check that this works on master? (before I merge):

[2019-07-04 15:56] ledell commented on #55
@benubah See my comments here: https://github.com/rladies/meetupr/pull/57#issuecomment-508526538

[2019-08-19 06:50] orchid00 opened #58 "get_event_attendees"
Hi,

Something might have changed (at some point)

This file
https://github.com/rladies/meetupr/blob/master/R/get_event_attendees.R
Is looking for the word "attendance", but now the word should be "attendees"

You can check https://www.meetup.com/CHAPTERNAME/events/EVENTID/attendees/

[2019-08-19 08:54] #58 closed, assigned to nobody

[2019-08-19 14:09] orchid00 commented on #20
I came to the same problem today,
is there any updates?

[2019-08-19 18:55] RickPack commented on #20
I missed my name mention. This issue was not assigned to me. It looks like @missaugustina was going to address the issue.

[2019-08-20 01:05] orchid00 commented on #20
@RickPack @missaugustina @ledell
I solved it doing this:
1 download json file of members per chapter
2. convert it to a csv
3. mutate the column group_profile.created
`mutate(date_joined = lubridate::floor_date(as.POSIXct(
    group_profile.created/1000, tz = "UTC", origin = "1970-01-01")))`

I guess the the mutate on step 3 should be added to the function `get_members`, and that would be it.

[2019-08-23 19:48] ledell commented on #51
We're done here!  Thanks again @GregSutcliffe.

[2019-08-23 19:48] #51 closed, assigned to gdequeiroz, olgamie, cvitolo, LucyMcGowan, hfrick

[2019-08-23 19:50] ledell opened #59 "Deprecate API key methods"
Now that we [added OAuth support](https://github.com/rladies/meetupr/issues/51) and the API key authentication scheme is no longer functional, we can deprecate the API key methods.

Current plan is to remove the `api_key` argument and add `...` to swallow any `api_key` args that appear in old/outdated scripts.

[2019-08-23 19:52] ledell commented on #58
@orchid00 Did you mean to close this?  Is it still an issue?

[2019-08-23 19:53] ledell opened #60 "Update README to use OAuth instead of API key"
The README need to be updated to use the new authentication scheme.  Related issues (and code examples should be in those issues and PRs): https://github.com/rladies/meetupr/issues/51 https://github.com/rladies/meetupr/issues/59

[2019-09-04 12:25] orchid00 commented on #58
Not an issue

[2019-09-04 20:00] missaugustina opened #62 "get_events() throws an error when no events found for a query"
Via Athanasia

I am looking to see if our code is doing this or if its something from the Meetup API.

[2019-09-04 20:21] ledell commented on #62
@missaugustina No, it should definitely not throw an error.  Are they using the latest version of the package?  If so, can you (or they) post a reproducible example?  Thanks! :-)

[2019-09-04 20:59] missaugustina commented on #62
Confirmed this is in our code
https://github.com/rladies/meetupr/blob/master/R/internals.R#L31

[2019-09-04 20:59] missaugustina commented on #62
Yes @ledell i'm pushing an update to the unit test where I repro'ed

[2019-09-04 21:04] missaugustina commented on #62
I need the test to catch the httr::stop(), figuring how to do that with testthat rn.

<img width="1440" alt="Screen Shot 2019-09-04 at 2 03 38 PM" src="https://user-images.githubusercontent.com/101733/64291406-edf80880-cf1c-11e9-9012-ce16985afdba.png">

[2019-09-04 21:40] missaugustina opened #64 "Why is a secret api key publicly checked into the repo?"
https://github.com/rladies/meetupr/blob/master/R/zzz.R#L6

This stuff doesn't go into a public repo, major security risk. Someone could spoof you for data mining & it may violate Meetup's TOS.

People need to add their own api keys to their .Renviron files. If this isn't in the README or other instructions then in addition to removing that file, add an example to show ppl how.

[2019-09-04 21:41] missaugustina commented on #64
Needs to be rebased out of history too so ppl can't access the old file.

[2019-09-04 21:49] missaugustina commented on #62
PR up but need coverage for other methods to make sure they don't barf.

- [x] get_boards.R
- [x] get_event_attendees.R
- [x] get_event_comments.R
- [x] get_event_rsvps.R
- [x] get_members.R

[2019-09-05 22:59] missaugustina commented on #62
I have to get Meetup auth set up on my end to do a full end-to-end test. If someone who has it set up could test this branch in the meantime I would be most pleased :)

[2019-10-02 14:30] ledell commented on #64
@missaugustina Normally, this is not something to go on GitHub, but it's required as a dummy key to get the package to work for users who don't have their own key.  We had a discussion about here and talked to other package authors with a similar predicament and this was decided to be the best option: https://github.com/rladies/meetupr/pull/54

[2019-10-02 14:30] #64 closed, assigned to ledell

[2020-01-28 23:02] ledell opened #65 "Update Vignettes to use OAuth instead of API key"
The README need to be updated to use the new authentication scheme.  Related issues (and code examples should be in those issues and PRs): https://github.com/rladies/meetupr/issues/51 https://github.com/rladies/meetupr/issues/59

[2020-02-17 08:01] drmowinckels opened #67 ""joined" date for membership in groups"
I have been working a little with getting some dat for a presentation, and I realised that the "joined" date, as retrieved by the `get_members()` function, is the date a person joined meetup, not the date they joined the group.

We might not have the date of joining group (I'm looking into the resource we get and see if I can parse it out), but i'm writing it down here so checking this is not forg

[2020-04-22 02:20] jennybc commented on #59
I think -- but I'm not sure -- that it might be easier to just eliminate the API key stuff now. If that seems to be true, do I have encouragement to pursue that / make such a PR?

[2020-04-22 06:38] ledell commented on #59
@jennybc Yeah, there’s no use to the api key code anymore.  Feel free to get rid of it!

[2020-04-30 11:23] orchid00 commented on #67
we discussed it here: https://github.com/rladies/meetupr/issues/20
i found a solution last year, but now that solution is no longer working.

[2020-04-30 17:20] ledell commented on #67
@orchid00 Did you know that the meetup package has changed since then and now uses OAuth instead of a personal API key?  I just want to check if that's the reason your solution is not working (instead of some other reason).

@Athanasiamo In general, we don't want to change any of the field names from what Meetup API calls them (unless it's a real bug on their end, which we should probably tell the

[2020-05-01 02:26] orchid00 commented on #67
hi @ledell thanks for your comment. So, I was trying this yesterday, I have many questions. I tried a lot of things....

First, yes I noticed the OAuth updates, It all worked well it asked me to login, and the `get_events` function works perfectly well.
Second, I used code from august last year, and since then, R versions have been updated, now I have 4.0.0 but meetupr was not available for this n

[2020-05-13 09:04] RickPack commented on #67
@orchid00 EDIT: This line added to get_members.R acquired the join date of a group member. Thanks for the tip!
`created = .date_helper(purrr::map_dbl(res, c("group_profile", "created"))),`

ADDED: I am using meetupr version 0.2.0 in R 3.6.1.

[2020-05-13 09:13] ledell commented on #67
Hey @orchid00 I don't have time to look at this right now, but I can try to look at it in about 2 weeks when I am done writing a paper.  Please ping me on here in 2 weeks if you want me to get my attention again to take a look. :-)

One quick question -- you said the following:

Does meetupr not work on R 4.0.0?  If so, would you be willing to file an issue with more information (and error message

[2020-06-30 09:33] RickPack commented on #67
The following is not a _meetupr_ bug but a _Meetup API_ bug: Placing this here before I forget, while working on this code for a presentation, I discovered that the argument "past" causes the Meetup API to return a future event if, as best as I can tell, the event has been rescheduled from a prior date to a future date.

**Note:** Getting the list of attendance records for private groups is limite

[2020-06-30 10:19] RickPack commented on #67
I needed to use the package for a presentation so I invite you to consider PR https://github.com/rladies/meetupr/pull/71.

[2020-07-09 09:02] ledell commented on #67
Resolved by https://github.com/rladies/meetupr/pull/71

[2020-07-09 09:02] #67 closed, assigned to ledell

[2020-10-06 22:24] ledell opened #72 "Make a pkgdown webpage hosted on GitHub"
It would be nice to have a simple [pkgdown](https://pkgdown.r-lib.org/) website.  We could host it at: https://rladies.github.io/meetupr

[2020-10-09 18:12] malcolmbarrett commented on #72
I'd be happy to work on a PR for this! I've had a great experience with meetupr in managing our meetup data and website, so it'd be great to contribute a little.

The `r-lib/actions` [GitHub Actions script](https://github.com/r-lib/actions/tree/master/examples#build-pkgdown-site) for deploying pkgdown sites to GitHub Pages has worked very well for me

[2020-10-09 18:17] ledell commented on #72
@malcolmbarrett That would be fantastic!  We would greatly welcome your contribution.

[2020-10-09 18:19] ledell commented on #44
Hey @priyankagagneja it's been a while since we chatted about this task.  I can't remember where we left off, but I am curious if you're still interested in working on this?  Otherwise, I'll re-add the "help wanted" label to this to see if someone can finish it.

[2020-10-09 18:21] ledell commented on #55
Hi @benubah Do you know if this is still an issue?  I know there were some internal changes after the OAuth upgrade, so I am wondering if this has been resolved.

[2020-10-15 01:04] ledell commented on #60
Forgot to close this a while ago.

[2020-10-15 01:04] #60 closed, assigned to nobody

[2020-10-15 05:42] ledell opened #74 "List of demos or projects using meetupr"
Please add any demos or references to the meetupr package that you see on the internet as a comment below.  Once there is a short list, we can make this into a markdown file called demos.md (or similar).

[2020-10-15 05:46] ledell commented on #74
@RickPack I think you might have something to contribute here?

[2020-10-15 06:17] #72 closed, assigned to malcolmbarrett

[2020-10-15 13:54] ljanda-amplify commented on #74
I talked about using meetupr in my talk for NYR this year - [video here](https://www.youtube.com/watch?v=Ix8OKC8UJbA&list=PLlzRFZmxVl9Q1g_feKO5CkF1ML8lW7JFX&index=3&t=132s), [talk repo here](https://github.com/ljanda/nyr_talk_2020)

[2020-10-15 15:18] malcolmbarrett commented on #74
https://socalr.org/ is basically {distill} + {meetupr}

[2020-10-16 07:58] benubah commented on #55
Hi @ledell , I believe it will only be an issue when https://github.com/rladies/meetupr/pull/48 is merged into the codebase. This means that, it is not an issue if `find_topics()` remains the way it is at the moment.

[2020-10-16 10:09] benubah commented on #55
@ledell I have added the required modifications to care of this issue in this PR https://github.com/rladies/meetupr/pull/48

[2020-10-16 23:31] ledell opened #75 "Build failing on Travis CI"
The build has been failing for 6 months: https://travis-ci.org/github/rladies/meetupr/branches

I don't see any issues with the [DESCRIPTION file](https://github.com/rladies/meetupr/blob/master/DESCRIPTION#L48) though..

[code]

[2020-10-17 22:01] malcolmbarrett commented on #75
Maybe I can't see all the build errors, but isn't the one from 6 months ago referring to the `DESCRIPTION` file in the `light-refresh-tests` branch? The file on that branch is mangled and produces the same error when I replicate: https://github.com/rladies/meetupr/blob/86e22735868139d5d407fd0ab5c9e3e2789cc944/DESCRIPTION#L46-L51

But it looks to my eye like that branch is related to a merged PR an

[2020-10-18 19:16] ledell commented on #75
@malcolmbarrett I merged some PRs and made some updates in the past day and it seems to have cleared things up on Travis.  So I am going to close this ticket!  Thanks for checking though.

[2020-10-18 19:16] #75 closed, assigned to nobody

[2020-10-20 23:50] ledell opened #77 "Consider adding a column for each field specified in the `fields` parameter"
The [PR](https://github.com/rladies/meetupr/pull/48) which was just merged which adds the `fields` parameter to `find_groups()` will add the extra fields to the list (raw data), but the user still has to extract those fields and add them as extra columns to the returned tibble.  Should we just add those fields automatically as columns, since it's almost 100% likely that the user will want to do th

[2020-10-20 23:50] ledell commented on #77
If you have thoughts on this @benubah @RickPack please let me know!

[2020-10-29 23:35] #53 closed, assigned to ledell

[2020-11-02 21:15] benubah commented on #74
[r-community-explorer](https://benubah.github.io/r-community-explorer/) uses meetupr

[2020-11-02 23:01] benubah opened #79 "default OAuth key and secret shipped with meetupr not working?"
The [documentation](https://github.com/rladies/meetupr/blob/master/R/meetup_auth.R) of `meetupr` suggests that, in a situation where the user has not provided a token, the packages uses a default token that is shipped with it here: https://github.com/rladies/meetupr/blob/master/R/zzz.R

However, I tried to run a simple call using the package without providing a token, but I am redirected to a brow

[2020-11-02 23:06] ledell commented on #79
Hi @benubah, although this is weird that you have to log in, this is the expected behavior.  Described in the README: https://github.com/rladies/meetupr#usage

When you read this, did you think that it applied only to when you are using your own token (vs built-in token)?  Do you want to make a PR to the README to make it more clear?  Thanks!

[2020-11-02 23:14] benubah commented on #79
Thanks @ledell This appeared conflicting to me  with the doc at https://github.com/rladies/meetupr/blob/master/R/meetup_auth.R. I was trying to review what is involved to setup an automated way of authentication using Travis CI without needing to "Log In and Grant Access" on a browser

I suspect that the default shipped token alone cannot solve this problem. Someone with a Meetup account needs to

[2020-11-02 23:43] ledell commented on #79
@benubah Yeah the browser logging in requirement is annoying to say the least...  I think a section in the README for setting up CI/CD would be helpful.

I heard via @Athanasiamo that @jennybc had some ideas around how to allow non-interactive authentication (sorry to ping you here Jenny).  I just wanted to check in to see if there was already some code or ideas around this to avoid any duplicatio

[2020-11-03 08:20] ledell commented on #79
@benubah A follow-up: I have confirmed with Jenny that no work has been started on this issue, so there's no concern about duplication of efforts.  It sounds like there's desire to get this working w/o interactivity, so if you feel like working on it, Ben, feel free.

[2020-11-19 13:10] maelle opened #81 "switch to GitHub Actions"
Because of Travis new pricing

[2020-11-19 13:43] maelle commented on #55
#48 has been merged so should this issue be closed? I am working on OAuth stuff and looking at open issues.

[2020-11-19 13:44] maelle commented on #79
I'm on it @benubah, hoping to make a PR this week or next

[2020-11-19 13:54] maelle opened #82 "Consider exporting .fetch_results"
So that one could use it à la `gh::gh()` to call any endpoint that's not supported by a high-level function.

[2020-11-19 14:01] maelle opened #83 "switch to markdown roxygen2?"
switching via <a href='https://usethis.r-lib.org/reference/use_roxygen_md.html'>usethis::use_roxygen_md()</a>

[2020-11-21 12:25] maelle opened #85 "Use RETRY instead of GET"
For more robustness

[2020-11-21 13:03] maelle commented on #79
@benubah your feedback on https://github.com/rladies/meetupr/pull/84 is welcome :-)

[2020-11-21 13:04] maelle commented on #79
Also note that what's shipped in by default is an _app_, not a token.

[2020-11-22 13:24] maelle opened #86 "bug for find_groups(topic_id = 1513883)"
Please briefly describe your problem and what output you expect. If you have a question, please don't use this form. Instead, ask on <https://stackoverflow.com/> or <https://community.rstudio.com/>.

Please include a minimal reproducible example (AKA a reprex). If you've never heard of a [reprex](http://reprex.tidyverse.org/) before, start by reading <https://www.tidyverse.org/help/#reprex>.

---

[2020-12-12 18:14] beatrizmilz commented on #79
We have a repo  ( https://github.com/R-Ladies-Sao-Paulo/RLadies-Brasil ) that lists the events of R-Ladies in Brasil (since is all online now, it's easier to find the events in Portuguese in one place, and helps the organizers to avoid scheduling more than one event at the same date/time).

We used to add every event manually. But sometimes we forgot to updated it :/ So this week I found this pack

[2020-12-12 21:51] benubah commented on #79
Hi @beatrizmilz I wonder if this helps to solve the problem for the meantime while you are looking for a permanent solution:
Visit [https://r-community.github.io/event-explorer/rcalendar.html](https://r-community.github.io/event-explorer/rcalendar.html) and select "Latin America" at the top-left.
This is still developing and not fully announced and I know I could add a filter by country in the fut

[2020-12-13 01:41] beatrizmilz commented on #79
Hi @benubah ! Thank you so much for this suggestion. I was able to add an action to get the JSON of the events, filter for events in Brazil, and show in the README the recent events that are in the calendar!  Thank you so much!

Now this data are from R Community Explorer Calendar: https://github.com/R-Ladies-Sao-Paulo/RLadies-Brasil#eventos-futuros-eventos-recentes 👍

[2020-12-13 13:05] maelle commented on #79
@beatrizmilz yes if you have time please try using my branch and its docs, because it allows you to create a token that you can then use non interactively. You'd need to encrypt the token locally and then you only push the encrypted version and de-encrypt it using a CI secret. It might also make sense to discuss in the R-Ladies slack as @Athanasiamo will need a similar workflow for the website. Of

[2020-12-13 18:31] beatrizmilz commented on #79
Hi @maelle ! Thank you for your suggestion. I can try!  I think @benubah 's solution is something  temporary, the best would be to have an action with meetupr.
I tried to install your branch but got an error. Not sure if I tried to install in the wrong way. I also tried with the name of the branch (` remotes::install_github("rladies/meetupr", "noninteractive") `) and got the same error...
[code]

[2020-12-14 07:34] maelle commented on #79
Thank _you_ for test-driving it!

[2020-12-16 23:31] ledell commented on #86
Hey @maelle is this a real issue?  Looks like a possible copy/paste error?  Thanks. :-)

[2020-12-16 23:33] ledell opened #88 "Add newline to "Downloading records" print-out"
We need to add add a newline [here](https://github.com/rladies/meetupr/blob/e5344f4cbd1c70d64c19df870f0531fd62b91358/R/internals.R#L73) after the `...`.

[2020-12-16 23:53] ledell opened #89 "If there are no events, return empty tibble instead of an error"
I think it would be more user-friendly for the `get_events()` function to return an empty (zero rows) tibble instead of an error when there's no results.  We could convert the error message into a warning.

I ran into this error when writing a function to get and rbind all R-Ladies events into a single tibble, and my function died in the middle because of this error, rather than just rbinding an e

[2020-12-17 07:15] maelle commented on #86
it wasn't, I had gotten an error but can't reproduce it so :woman_shrugging:

[2020-12-17 07:15] #86 closed, assigned to nobody

[2021-01-07 09:03] maelle opened #91 "Older R version support"
https://github.com/rladies/meetupr/pull/84#issuecomment-749383193

[2021-01-07 09:11] maelle commented on #89
@Athanasiamo made this a warning

[2021-01-07 09:12] maelle commented on #89
(it's a note for info, I like the idea presented in the first comment)

[2021-01-07 09:24] #81 closed, assigned to nobody

[2021-01-08 11:58] maelle opened #94 "Make verbose controllable by an option"
cc @Athanasiamo -- does it sound like a good idea?

[2021-01-08 12:15] drmowinckels commented on #94
yes! Im my growing PR for pro #92 there is a commit for it

[2021-01-08 12:18] maelle commented on #94
in your PR it is an argument, not an option yet or am I missing something?

I mean that the default value of the argument would be something with `getOption("meetupr.verbose")`

[2021-01-08 12:31] maelle commented on #9
cc @Athanasiamo

[2021-01-08 12:35] maelle commented on #33
This has been solved by my PR #84 , I will have to check things are skipped for forks though.

Cf https://books.ropensci.org/http-testing/

[2021-01-08 12:36] maelle commented on #45
The linked PR has been merged.

[2021-01-08 12:36] #45 closed, assigned to nobody

[2021-01-08 12:39] maelle commented on #24
I think some work is still needed, here's a list. Cc @Athanasiamo

* [x] user-friendlier throttling cf #9 or even more hand-holding
* [x] make the switch to Markdown roxygen2, cf #83
* [x] replace GET with RETRY if we can do that for some HTTP errors only cf #85
* [x] #82 to make it possible to use any endpoint with our package.
* [x] #59 since it no longer works?
* [x] Fix #89 by returning empty

[2021-01-08 12:42] drmowinckels commented on #94
ah right, sorry I misunderstood. I'm not so used to working with options rather than arguments, so I'm not sure what would be the best, tbh. I'll let you decide.

[2021-01-08 12:48] maelle commented on #94
or, we could make FALSE the default, or make it TRUE by default when the session is interactive. :thinking:

[2021-01-08 12:50] drmowinckels commented on #94
what I like with arguments is that is more straight forward for the user how to silence it if they want, options can be a little less accessible.

[2021-01-08 12:51] maelle commented on #94
I'd still have both, since the argument would read the option, you could still use the argument.

[2021-01-08 13:02] drmowinckels commented on #94
ok, that sounds like a nice idea

[2021-01-08 13:22] #38 closed, assigned to nobody

[2021-01-08 14:09] maelle commented on #89
[code]

<sup>Created on 2021-01-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

So thanks to @Athanasiamo's work things already work as you wish @ledell. Now, do we want to make the warning disappear and instead have some sort of message based on whether verbose is TRUE?

[2021-01-08 14:56] maelle commented on #94
I'll wait until your PR is merged since it introduces the verbose argument.

I think its default value should be `verbose = getOption("meetupr.verbose", rlang::is_interactive())`

* this way one can still use the argument
* one can toggle the value via a project/user level Rprofile
* the default is still TRUE in interactive session.
* `rlang::is_interactive()` can be mocked in tests so easier to t

[2021-01-08 15:02] maelle commented on #30
Duplicate of #9

[2021-01-08 15:02] #30 closed, assigned to nobody

[2021-01-08 15:03] maelle commented on #55
@ledell @benubah is this issue still valid? or should it be closed?

[2021-01-08 15:04] maelle commented on #79
@benubah @beatrizmilz my PR has been merged. Can this issue be closed or are there remaining problems (I'd love to fix them)?

[2021-01-08 15:05] maelle commented on #26
I need to add more tests & vcr fixtures. @ledell I wouldn't want us to submit the package to CRAN before we have something like 75% coverage. Should be achievable.

[code]

[2021-01-10 07:35] ledell commented on #89
@maelle @Athanasiamo Hey!  Thank you @Athanasiamo!

I am seeing two warnings (on master).  It looks slightly different than what @maelle posted above (there's a different order... maybe different versions of R?  I am using 3.5.3). Regarding the duplicate warning -- maybe `get_events()` is calling `.quick_fetch()` twice internally, so it's printing the error twice?

[code]

@maelle Regarding your q

[2021-01-11 08:06] drmowinckels commented on #89
right, we do call .quick_fetch twice, so that makes sense. When the verbose option is in place, we can silence the first call.

[2021-01-11 08:25] maelle opened #96 "Rename api_method variable to api_path"
Cf https://github.com/rladies/meetupr/pull/90#issuecomment-757690868

CC @Athanasiamo @ledell

[2021-01-11 08:26] #22 closed, assigned to RickPack

[2021-01-11 09:13] benubah commented on #55
Feel free to close.

[2021-01-11 09:14] benubah commented on #79
Great work @maelle ! I guess could be closed.

[2021-01-11 10:04] #79 closed, assigned to nobody

[2021-01-11 10:04] maelle commented on #55
thank you!

[2021-01-11 10:04] #55 closed, assigned to benubah

[2021-01-11 14:24] maelle opened #97 "implement function returning Meetup API status"
https://www.meetup.com/meetup_api/docs/status/

[2021-01-11 16:10] maelle commented on #89
Why do we call `.quick_fetch()` twice?

I think it makes sense to have the warning be a message because there's nothing the user did wrong, just no result. The users themselves will hopefully have some sort of result assessment in place. I'll work on this later this week.

[2021-01-11 16:13] malcolmbarrett commented on #89
As someone who uses this function a lot where nothing gets returned, I would personally like it if it was not a warning, either. (I already wrap this with purrr since It's common for there to be no events.) IMO, it's not something to throw a warning to the user about; it's a normal condition for the data to be in. Might a message be more appropriate?

[2021-01-11 16:44] maelle commented on #89
Thanks @malcolmbarrett - btw any feedback on the current changes in the package is welcome! We've merged a PR allowing non interactive use, and there's one about automatic rate limiting. Do you use the default app? End of my questions 😉

[2021-01-12 01:12] malcolmbarrett commented on #89
I'll let you know if I do! I don't think I use the default app in my use case. If I remember right, I was able to get a free one in the transition period from API key to OAuth

[2021-01-12 08:50] #9 closed, assigned to nobody

[2021-01-12 10:02] #37 closed, assigned to nobody

[2021-01-12 10:07] #89 closed, assigned to nobody

[2021-01-12 10:07] #94 closed, assigned to nobody

[2021-01-12 10:18] maelle opened #99 "Do we remove the deprecated.R file before CRAN release?"
Opinions @ledell @Athanasiamo? (and anyone else)

[2021-01-12 10:21] drmowinckels commented on #99
I say yes.

[2021-01-12 10:22] maelle opened #101 "Add internal functions for handling pagination"
Just to be sure it's all DRY

[2021-01-12 10:22] maelle commented on #99
That's my vote too, I'll just wait for the maintainer @ledell's advice then

[2021-01-12 10:36] maelle commented on #101
cc @benubah

[2021-01-12 10:43] maelle commented on #29
I don't get any error with the reprex above. @friep would you have time to try the package's latest version? Maybe @Athanasiamo's work on the internals fixed this.

[2021-01-12 10:45] #62 closed, assigned to missaugustina

[2021-01-12 20:14] ledell opened #102 "Fill in NEWS.md file with recent updates"
We have been forgetting to update the NEWS.md file with our updates.  We should try to fill in what's happened in recent versions by looking at merged PRs.

[2021-01-12 20:27] ledell commented on #99
Sure, we can delete it.  Thanks!

[2021-01-30 13:06] #59 closed, assigned to nobody

[2021-01-30 13:06] #96 closed, assigned to maelle

[2021-01-30 13:08] #99 closed, assigned to nobody

[2021-01-30 13:59] maelle commented on #102
@ledell since when? I _think_ I added my items but could be wrong + could help.

[2021-01-30 13:59] maelle commented on #102
I actually don't think it's a good first issue as it'll involve some repo archeology :wink:

[2021-01-30 13:59] maelle commented on #29
@friep do you still get an error?

[2021-01-30 14:01] maelle commented on #65
I think this is done

[2021-01-30 14:01] #65 closed, assigned to nobody

[2021-02-07 02:00] ledell commented on #102
@maelle The last version with a NEWS update is 0.1.1, so we are missing updates for a few versions: https://github.com/rladies/meetupr/blob/master/NEWS.md#meetupr-011

0.2.3.999: All your new changes (documented in NEWS.md but not assigned to a version yet)
0.2.3: https://github.com/rladies/meetupr/commit/09442970c7c279816736f425dcba0458e333a723 (need to document what was new in this version)
0.2.

[2021-02-07 19:42] drmowinckels commented on #29
I cannot reproduce this error either.

[2021-02-08 07:11] #47 closed, assigned to nobody

[2021-02-09 20:37] pr130 commented on #29
sorry for taking so long. unfortunately i can't really try it out because i get an unrelated auth error that i don't have the time to debug ( I wrote @maelle on twitter about it). sadly i don't have time to look into it. but i think if you both can't reproduce this anymore (not surprising after 2 years) it is safe to close this.

[2021-02-13 09:25] gkaramanis opened #107 "Error in !cache : invalid argument type"
I just installed meetupr and can't seem to run any functions, including `meetup_auth()`.
I always get the error `Error in !cache : invalid argument type` when I run a function.

I've removed and reinstalled meetupr, no errors during installation.
Any ideas how to troubleshoot?

[2021-02-13 11:20] #29 closed, assigned to nobody

[2021-02-13 11:21] maelle commented on #107
I'll have a look shortly. It was reported in https://github.com/rladies/meetupr/issues/29#issuecomment-776226933 as well so I'd better get on this, sorry!

[2021-02-13 11:22] maelle commented on #107
Could you tell me what arguments you used with `meetup_auth()` @gkaramanis?

[2021-02-13 11:25] maelle commented on #107
ah no worries I can reproduce it :tada: So I'll fix it now. :crossed_fingers:

[2021-02-13 11:28] maelle commented on #107
@gkaramanis I have just pushed a fix (it was a silly mistake). I'll add tests ASAP, but you could already try the new version if you have time. Thanks for your patience and for the bug report.

[2021-02-13 11:43] gkaramanis commented on #107
No worries, thank you! That was much faster than I expected 😊

[2021-03-18 14:50] GregSutcliffe opened #111 "Off-by-one error in fetch_results pagination handler"
I'm testing the latest version MeetupR for use in my Ansible stats. Ansible has a large number of meetups - `find_groups` reports downloading 324 entries, so I was surprised to get an object with 400 entries in it.

Reproducer:
[code]
So, my suspicions were raised. I dug into the call stack, and ended up [here](https://github.com/rladies/meetupr/blob/c9c584335377966c7c9e08534089f84d921cff50/R/inte

[2021-03-18 15:01] GregSutcliffe commented on #111
OK, that was less hard than I thought, but perhaps I'm missing something?

The issue appears to be that the code overwrites `res`. At this point in the above repro, all is fine:

[code]
But 3 lines later, having parsed the "next_url" from the response, it gets reset:

[code]

I'm unclear on why we need to parse `next_url` at all? We have `i = 1:offsetn - 1` which gives us the direct URLs anyway. C

[2021-03-18 15:53] GregSutcliffe commented on #111
Went for a walk to think a bit more about it, and realised that if Meetup provides a next URL, we should probably use it. Since we already have `res` defined for the first page of results outside the loop, we can just omit the first call to `res <- ...` and parse/use the `next_url`. Like this:

[code]
I wanted to make sure that worked for more than two pages, so I found a search with > 400 groups:

[2021-03-18 19:44] ledell opened #112 "Add a test that we return the correct number of results"
This is a [bug](https://github.com/rladies/meetupr/issues/111) that could have been found by having a unit test for this.  This ticket is generic, though the bug above is for `find_groups()` specficially.

[2021-03-18 19:44] ledell commented on #111
@GregSutcliffe Thanks for the report!

It looks like a number of people have worked on that loop over the years, so its possible it used to work and was recently broken (we don't have enough tests).  I'm wondering if it's caused by this [commit](https://github.com/rladies/meetupr/commit/e0022797226c5a2bed0d90e3b74390efbba6cb2d), which was actually meant to fix a bug from [this commit](https://gith

[2021-03-19 10:55] GregSutcliffe commented on #111
Thanks for the feedback @ledell. Just for interest, I ran a `git bisect` across the tree (which was a bit prickly because some of the commits occur before the OAuth change making them ... challenging to test :P)

As far as I can tell, this is the bad change: https://github.com/rladies/meetupr/commit/0916f4436fa1ab8f01a3c7d50ff65a5accfdd162#diff-3f3bff8ab673bfcf61e7b8159249c3a14e19f9916656ed1db4114

[2021-03-19 11:56] GregSutcliffe commented on #112
I took a pass at this but I'm struggling to get the tests to use my existing `meetup_token` so that I can record the response with `vcr`.

Here's my test:
[code]
Which should work (it's what you'd do in the console). But the test fails, reporting:
[code]
And when I look at the recorded YAML from `vcr`, I see (edited for brevity):

[code]
What am I doing wrong?

[2021-03-19 12:06] GregSutcliffe commented on #112
To be clear, obviously I'll be removing the call to meetup_auth() once I have the recorded yaml, I just need a way to authenticate :)

Also, I just tried copying my token to the default path (mycheckout/.httr-oauth) and removing the call to meetup_auth() - still fails.

[2021-03-22 10:45] GregSutcliffe opened #114 "Problems with values for `event_status` in get_events()"
There's a few issues in `get_events()` handling of `event_status`. Firstly, the [docs](https://rladies.github.io/meetupr/reference/get_events.html) suggests that the default for this field is `upcoming` but the [code](https://github.com/rladies/meetupr/blob/master/R/get_events.R#L60) has it as a vector of statuses.

Using the code defaults results in a 403 for my test groups:
[code]

While overrid

[2021-03-22 12:52] maelle commented on #112
I think you are bitten by https://github.com/rladies/meetupr/blob/c9c584335377966c7c9e08534089f84d921cff50/tests/testthat/setup.R#L1 (so not vcr)

To contribute and add tests the best thing is to create a token for tests, now I am wondering what would be the best way to make you add one. I'm looking at https://github.com/ropensci/rtweet/pull/512

[2021-03-22 12:52] maelle commented on #112
that said `meetup_token()` in that setup file should use your token :thinking:

[2021-03-22 12:56] GregSutcliffe commented on #112
Hmm, I added some classic oldschool `print` statements when running local tests and was fairly sure I wasn't hitting that branch, but rather the `else` branch. And thus, yes, it should read my token. I will dig a bit more, maybe add some debug in `meetup_token()`...

[2021-03-22 13:00] maelle commented on #112
thank you! there's definitely a bug somewhere in our codebase.

[2021-03-22 13:27] maelle commented on #21
More generally I suppose one could support all documented parameters https://www.meetup.com/fr-FR/meetup_api/docs/find/groups/?uri=%2Fmeetup_api%2Fdocs%2Ffind%2Fgroups%2F

[2021-03-22 13:30] maelle commented on #20
@ledell what needs to happen here? Do we need to not use what the API returns for that date?

[2021-03-22 13:30] maelle commented on #46
Since the PR has been merged, I am closing this issue.

[2021-03-22 13:30] #46 closed, assigned to nobody

[2021-03-22 13:32] maelle commented on #77
Making the extra fields columns sounds like a good diea to me.

@ledell could you actually open one issue for each of your good ideas?

[2021-03-22 13:33] maelle commented on #88
@ledell it seems you did (so easy to close issues today ahah)

[2021-03-22 13:33] #88 closed, assigned to nobody

[2021-03-22 15:36] GregSutcliffe commented on #112
@maelle OK, making progress.

So, this is definitely hitting the `else {}` branch, which sets MEETUPR_TESTING and then it descends into

https://github.com/rladies/meetupr/blob/fb84cec1fc101ed15c93a49fcfeb046873fabfd9/R/meetup_auth.R#L208-L211

which clearly skips any kind of token loading. So it's no surprise I can't auth.

I commented that out, which brings us to:

https://github.com/rladies/mee

[2021-03-22 16:08] maelle commented on #112
Thank you!

Where is your token? The location `With some print statements I can see it's trying to load a default token from "~/.local/share/meetupr/meetupr-token.rds" which obviously doesn't exist.` is the new default location.

I'll come back to this within the next few days.

[2021-03-22 17:10] GregSutcliffe commented on #112
So I've been doing quite a lot of digging. Part of the problem is the code creating (broken) tokens which are then hidden from me because I use "git status" to see what I've touched in the repo, but `.httr-oauth` is in the .gitignore, so I don't see them. I've found several that were not working and getting in the way - that didn't help.

However, I'm now fairly sure it's VCR that is breaking me.

[2021-03-22 17:30] GregSutcliffe commented on #112
OK, more progress - I figured out how to use `vcr` on the console to do the recording. So, now I can easily record a YAML with something like this:
[code]
This correctly runs, and creates a YAML recording, but it looks like its not capturing the second page, so then I get:
[code]
Note the page=200 and offset=1, this is the second call in the pagination loop. So progress, I can record *something*,

[2021-03-23 11:23] GregSutcliffe commented on #112
@maelle I think I got it, but I'm *certain* I'm making this harder than it should be. I've got working tests, and I've added them to #111

To get there, I had to work out how to get vcr to run in my console in record mode. Then once I had the yaml, the tests were trivial. To do that, I used this script at the console:
[code]
With that, I managed to create two passing tests in #111. Is there a bett

[2021-03-24 12:46] maelle commented on #112
@GregSutcliffe I'm working on a PR where I change the place of the environment variable that as you correctly pointed out was preventing the addition of new test in the absence of MEETUPR_PWD. I am so sorry and also very thankful that you found this out!

[2021-03-24 12:48] GregSutcliffe commented on #112
No problem @maelle I learned a lot about vcr along the way and that's going to be useful at some point. No learning is ever wasted :)

[2021-04-25 22:02] ledell opened #117 "Add missing LICENSE.md file"
According to [this](https://r-pkgs.org/license.html#key-files), we are supposed to have a copy of the MIT license included in a `LICENSE.md` file.  The `LICENSE` file is only used to identify which license is being used and who owns the copyright, but does not include the actual text from the MIT license. We are currently missing this file, so let's add it.   We also need to add to to `.Rbuildigno

[2021-04-26 06:27] maelle commented on #117
`usethis::use_mit_license()` might help.

[2021-11-10 20:10] ledell opened #118 "Add GraphQL support"
Meetup will be deprecating the REST API and replacing it with GraphQL.  The REST API will be deprecated at the end of 2021, and the GraphQL API is already active.  Therefore, for this package to remain usable, we have to replace the guts.  The [ghql](https://github.com/ropensci/ghql) package could be useful.

Here’s the info on migrating from REST to GraphQL: https://www.meetup.com/api/migrating
M

[2021-11-12 20:21] ledell commented on #118
@GregSutcliffe @maelle @benubah @LucyMcGowan @cvitolo @jennybc @Athanasiamo @olgamie @RickPack @malcolmbarrett @brooklynbagel @hfrick

We scheduled a meeting to discuss this on Weds, Nov 17th at 11am PT.  If any of you want to join, give a thumbs up and I will send you the invite.

[2021-11-15 06:10] drmowinckels commented on #118
Its a little late for me in the evening, but keep me posted. I'd like to be involved as I rely on the pkg for the new website build.

[2021-11-15 10:26] hfrick commented on #118
got the invite :+1:

[2021-12-01 20:42] PythonCoderUnicorn opened #119 "hexagon logo"
Hello meetupr !

**No issues, pull requests just an offer of a hexagon logo for this API**.

If you like it, please credit me as Zane Dax `@StarTrek_Lt`. Hope you like it.

![meetupr](https://user-images.githubusercontent.com/55933131/144310640-ae1dad39-124d-453c-9c3b-09bcfb36936e.png)

[2021-12-28 09:15] ledell commented on #118
Update: @schloerke is currently working on rewriting the internal query logic and updating the two most useful functions, `get_events()` and `find_groups()`.

[2021-12-29 19:51] schloerke opened #126 "GraphQL: Can not find groups for a particular topicId"
Related: https://github.com/rladies/meetupr/issues/118

Goal: Find all groups for a topic id. Ex: `topicId: 1513883` should return all 140 groups from https://www.meetup.com/topics/r-ladies/all/

Limitations:
Clicking through the API, we can search for groups via:
* via https://www.meetup.com/api/schema/#keywordSearch
* with `filter: ` equaling https://www.meetup.com/api/schema/#SearchConnectionFi

[2021-12-29 19:59] schloerke opened #127 "GraphQL: Missing group's organizer name / organizer id"
Related: #118
GraphQL `Group`: https://www.meetup.com/api/schema/#Group

`find_groups()` returned `organizer_id` and `organizer_name`.

This data is no longer directly provided by the GraphQL API. There is an `Event` `host` (which points to a `User`) object, but this can change from event to event.

I do not easily see a way to determine who is the point of contact for a group.

-------------

Res

[2021-12-29 20:23] schloerke opened #129 "GraphQL: Groups needs followup query for location information"
Related: #128

The current country code is a two letter code and is not _pretty_. Currently there is no `location` field.

Ex:
[code]

Given each pair of lat / lon values, location can be queried.

------------------------------

Example query:
[code]

Search results will return an array.
[code]

Matching logic:
* Use first match that has the same city value
* If no exact match is found, use first

[2021-12-30 16:55] schloerke opened #131 "GraphQL: `get_boards()` can not be replicated"
There is nothing about `boards` in https://www.meetup.com/api/schema/#Group (or anywhere on the page)

[2021-12-30 21:00] schloerke commented on #129
The country name, similar to `localized_country_name` above, has been implemented in #128.

If this is good enough, we can close this issue.

[2022-01-01 14:08] drmowinckels commented on #117
This seems resolved now, right? Everything looks ok on my end at least.

[2022-01-03 07:42] maelle commented on #117
No LICENCE.md though?

[2022-01-03 10:26] #117 closed, assigned to ledell

[2022-01-14 19:43] ledell opened #135 "Make an RData file to preserve old API results format"
Since the Meetup REST API will be shut off any day now, we should save a copy of the output format for all the old functions so that we can have a reference to what the output looked like (as we create the new version of all the files using GraphQL).

Let's run each function and save the tibble for each into an RData file that we can refer to later.

[2022-01-14 20:31] schloerke opened #136 "GraphQL: Find event attendees GraphQL query"
From our discussion earlier, came up with:

[code]

Can test it out here: https://www.meetup.com/api/playground

I found the definition of the parameters I could supply by looking in the schema file that I found: https://github.com/rladies/meetupr/blob/d44a3c9bceaeefcdee81fbe5409a04986692fc37/inst/graphql/meetup-com-schema.json near line 8250.

The corresponding schema info states:
[code]

... whi

[2022-01-29 08:50] benubah commented on #135
Where should we store this file?

[2022-02-12 19:42] jromanowska opened #137 "Unauthorized error"
I've just installed the current meetupr with `remotes::install_github("rladies/meetupr")` and tried checking the function from the README. I got redirected to the webpage, where I successfully authorized meetupr to use my meetup account and then I get unauthorized error **each time** I want to run a function from meetupr:

[code]

I've checked:

- my meetup account lists meetupr as authorized app

[2022-02-14 07:48] benubah commented on #137
Thanks for reporting and sorry about this. We're all having this problem right now. We are aware that the Meetup REST API which the current `meetupr` package is built around will no longer be available, and we're working to switch the package to the new GraphQL API which is the API Meetup wants people to use moving forward.

 Please take a look here: https://github.com/rladies/meetupr/issues/118

[2022-02-14 07:59] jromanowska commented on #137
OK, thank you for the explanation! I'll be waiting patiently. :) You might want to put this information on README for others to be aware of.

[2022-02-19 20:08] ledell commented on #135
@benubah Were you able to create these RData files before the old API was cut off?  If so, please send me an email and I will find a place to store them for us.

[2022-02-19 20:26] ledell commented on #137
@jromanowska Good suggestion.  I added a warning [here](https://github.com/rladies/meetupr#%EF%B8%8F-alert-to-users).  Sorry that we were not able to get the new API code completed before Meetup killed the old API. :-/

[2022-02-19 21:16] benubah commented on #135
Yes, I did.

[2022-02-20 11:55] jromanowska commented on #137
Oh, I can help - at least with testing! :)

[2022-02-20 11:56] jromanowska commented on #118
I can help with testing - let me know when.

[2022-02-20 19:53] drmowinckels commented on #126
I was doing some tests on this too, and can confirm. I can get anything like what we had before working. Its ridiculous behaviour from the API side, imo

One of the main reasons we wanted this function, was to search for all Rladies groups easily, but we could (atleast before) also do that through accessing the pro-account information (needing a pro account token). I can see if I can make any head

[2022-02-20 20:30] benubah commented on #126
Could you search by the R-Ladies `topic_id` and/or retrieve 216 R-Ladies groups by using the `find_groups2()` function?

[2022-02-20 20:55] ledell commented on #118
@jromanowska Thank you!  @benubah Please let @jromanowska how she can help, when you're ready.

[2022-02-20 21:00] ledell commented on #135
Here's a public link to the file in case anyone needs it: https://wimlds.box.com/s/lptwpmaweh5dgxnuyvoynumay17n86t3

Later we can consider if we should put this in the repo... (for now I'll close the ticket since the data has been preserved).

[2022-02-20 21:01] ledell commented on #135
Thanks @benubah!

[2022-02-20 21:01] #135 closed, assigned to benubah

[2022-02-21 05:57] benubah commented on #118
Just to let everyone know... I am working on rewriting the remaining functions. I have working drafts but will send a PR soon so we can start testing.

[2022-03-15 20:08] benubah commented on #137
Thanks! You can start trying things out from here: https://github.com/rladies/meetupr/pull/138

[2022-03-16 08:29] jromanowska commented on #137
Thanks! @benubah - I've tried building the package as it is in the 'ben' branch, but I get the error `could not find function "%||%"` when I try to run your testing function `x <- gql_health_check()`.
I tried searching that operator on the net, but I can't find anything. What am I doing wrong?
P.S. I've installed all the 'imports' and 'suggests' packages.

[2022-03-16 08:44] benubah commented on #137
thanks @jromanowska  for taking a look. I test by:
-  `git pull`ing the latest commits on `ben`,
- make sure i'm on the `ben` branch,
- run `devtools::load_all()`,
- authenticate using `meetup_auth()`
- then `x <- gql_health_check()`

[2022-03-16 08:47] jromanowska commented on #137
Strange - now it worked :D

[2022-03-16 08:54] jromanowska commented on #137
OK - here's my output. It seems like all's working apart from `get_events2(urlname = "Data-Science-DC", .extra_graphql = "host { name }")`

[code]

[2022-03-16 10:39] benubah commented on #137
Sorry, does copying, pasting and running this work: `x <- get_events2(urlname = "Data-Science-DC", extra_graphql = "host { name }")`  ?

[2022-03-16 10:56] jromanowska commented on #137
Yes, that works :)

[code]

[2022-04-04 09:49] benubah commented on #118
The work (plus testing) is ongoing here: https://github.com/rladies/meetupr/pull/138

[2022-04-04 10:01] RickPack commented on #118
Thank you, @benubah!

[2022-04-23 12:06] frederikho commented on #118
Great to see that this package is maintained and that the GraphQL support is being added! When can we expect the updates to be merged into the main branch?

[2022-04-26 07:23] ledell commented on #118
@frederikho I just merged into master.  Please try it out if you can!  We would really appreciate feedback. Thanks.

[2022-08-03 19:03] drmowinckels commented on #82
This is obsolete since the change to the new API

[2022-08-03 19:03] #82 closed, assigned to nobody

[2022-08-03 19:07] drmowinckels commented on #13
I'm closing this issue as we have a find_groups function with the new API.
For this specific issue, also, we will use the pro-network functions, that will locate all groups and events within a pro network :)

[2022-08-03 19:07] #13 closed, assigned to ledell

[2022-08-03 19:09] #137 closed, assigned to nobody

[2022-08-03 19:25] drmowinckels commented on #44
I'm not sure this task really is needed anymore? I'm closing it for now.

[2022-08-03 19:25] #44 closed, assigned to priyankagagneja

[2022-08-03 19:27] drmowinckels commented on #33
Closing as tests are using vcr casettes.

[2022-08-03 19:27] #33 closed, assigned to nobody

[2022-08-03 19:45] drmowinckels commented on #111
.fetch_result is obsolete as the new Meetup API. And the new API doesnt seem to have pagination issues (I've not seen it yet). So I think this issue can be closed.

[2022-08-03 19:45] #111 closed, assigned to nobody

[2022-08-03 19:54] drmowinckels commented on #101
Is this an issue with graphql? I dont think so?

[2022-08-19 17:06] #83 closed, assigned to nobody

[2022-08-19 17:06] #119 closed, assigned to nobody

[2022-10-01 19:55] #118 closed, assigned to nobody

[2022-10-01 20:00] drmowinckels commented on #85
@benubah we are not using GET anymore, from what I can tell. So this issue is no longer valid?

[2022-10-01 20:03] drmowinckels commented on #91
I'd like to veto this and just let the package remain at supporting >= 3.5 :)  3.4.4 is quite old now ;)

[2022-10-01 20:03] #91 closed, assigned to nobody

[2022-10-01 20:05] #107 closed, assigned to nobody

[2022-10-03 06:40] drmowinckels opened #142 "cleanup code remains from REST API"
The package now uses the graphql API and the REST API is shut down.

I believe there are pieces of code that are remainders of the REST API that we can now delete, but I am uncertain of which pieces.
I'll start work on testing which I think should/could be deleted, and I'll ask you @benubah for a review to just double check.